@charset "UTF-8";
body {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/*Исправить переменные!*/
.header {
  background-color: #222222;
  position: relative;
}

.header__wrp {
  display: flex;
  justify-content: space-between;
  min-height: 75px;
  align-items: center;
}

.header__list {
  display: flex;
  justify-content: space-between;
  width: 150px;
}

.header__logo-search {
  display: flex;
  justify-content: space-between;
  width: 300px;
  position: relative;
}

.header__glass {
  background-color: #222222;
  border: none;
}

[type="search"] {
  padding: 10px 20px;
  border: none;
  color: white;
  background: #222222;
  outline: 1px solid black;
}

.form {
  position: relative;
}

[type="search"]:hover {
  outline: 1px solid white;
}

.header-link:hover,
.header-link:active,
.header-link:focus {
  cursor: pointer;
  outline: 1px solid white;
}

.header__nav {
  display: none;
  position: absolute;
  width: 230px;
  height: 749px;
  background: #FFFFFF;
  right: 0;
  top: 100%;
  padding: 16px 16px 0 0;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.1);
}

.nav-link:hover {
  text-decoration: underline;
}

.header__nav-stripe {
  display: flex;
  justify-content: flex-end;
}

.header__cross {
  border: none;
  background: #FFFFFF;
}

.header__button {
  border: none;
  background-color: transparent;
}

.header__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0em;
  color: #222222;
  margin: 0 0 0 34px;
  text-transform: uppercase;
}

.header__button:hover .header__nav,
.header__button:focus .header__nav,
.header__button:active .header__nav {
  display: block;
}

.nav-sub-item__title {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  color: #F16D7F;
  text-transform: uppercase;
  text-decoration: none;
  margin: 24px 0 0 33px;
  display: block;
}

.nav-sub-item__item {
  margin: 12px 0 0 54px;
}

.nav-sub-item__item-link {
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  color: #5D5D5D;
  text-decoration: none;
}

.brand {
  display: flex;
  margin: 0 0 62px 0;
  width: 100%;
  min-height: 749px;
  background-color: var(--light-pink);
}

.brand__title-wrp {
  flex-grow: 1;
  padding: 0 0 0 92px;
  display: flex;
  align-items: center;
}

.brand__title {
  font-size: 48px;
  font-weight: 900;
  line-height: 58px;
  text-transform: uppercase;
  margin: 335px 0 335px 92px;
  width: 431px;
  height: 93px;
}

.brand__subtitle {
  display: block;
  font-size: 37px;
  font-weight: 700;
  line-height: 44px;
}

.brand__subtitle-pink {
  color: #F16D7F;
}

.sales__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.sales__item {
  padding: 105px 0 105px 0;
  box-sizing: border-box;
  width: 360px;
  min-height: 260px;
  background-color: var(--sales-bkg-color);
}

.sales__item--woman {
  background-image: url(../img/woman-dress.png.png);
}

.sales__item--man {
  background-image: url(../img/man-suit.png.png);
}

.sales__item--kids {
  background-image: url(../img/boy-glasses.png.png);
}

.sales__item--shoes {
  background-image: url(../img/shoes.png.png);
  width: 100%;
  min-height: 180px;
  margin: 30px 0 0 0;
}

.sales__link {
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
}

.sales__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
  color: var(--white);
}

.sales__title {
  font-family: Lato;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: center;
  color: var(--dark-pink);
}

.catalog {
  text-align: center;
  margin: 97px 0 97px 0;
}

.catalog__title {
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
}

.catalog__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  margin: 6px 0 48px 0;
}

.catalog__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.catalog__item {
  box-sizing: border-box;
  width: 360px;
  min-height: 580px;
  margin: 0 0 30px 0;
  text-align: left;
}

.img-wrp {
  position: relative;
}

.catalog__item-overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
}

.catalog__button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 138px;
  height: 43px;
  border: 1px solid #FFFFFF;
  background: none;
  display: none;
}

.catalog__button-card {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  color: #FFFFFF;
}

.catalog__item:hover .catalog__item-overlay {
  display: block;
}

.catalog__item:hover .catalog__button {
  display: flex;
}

.catalog__item-link {
  text-decoration: none;
}

.catalog__item-title {
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  color: #222222;
  text-transform: uppercase;
  margin: 25px 0 13px 0;
}

.catalog__item-text {
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  letter-spacing: 0em;
  color: #5D5D5D;
  margin: 0 0 18px 0;
}

.catalog__item-price {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  color: #F16D7F;
}

.catalog__button-browse {
  width: 211px;
  min-height: 47px;
  border: solid 1px;
  background: #F16D7F;
  border: none;
}

.catalog__button-browse:hover {
  border: solid 1px;
  border-color: #222222;
}

.catalog__button-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  color: #FFFFFF;
}

.delivery {
  width: 100%;
  min-height: 340px;
  background-color: #222222;
}

.delivery__list {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.delivery__item {
  width: 360px;
  margin: 103px 0 0 0;
}

.delivery__link {
  text-decoration: none;
}

.delivery__item-title {
  margin: 25px 0 16px 0;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  color: #FFFFFF;
}

.delivery__text {
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  letter-spacing: 0em;
  color: #FFFFFF;
}

.sea {
  min-height: 448px;
  background-image: url(../img/sea.png);
}

.sea__list {
  display: flex;
  justify-content: space-between;
}

.sea__item {
  text-align: center;
}

.sea__smyle {
  padding: 87px 0 0 0;
  padding-bottom: 30px;
}

.sea__smyle-text {
  width: 360px;
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  color: #222222;
}

.sea__subscribe-title {
  padding: 150px 0 0 0;
  width: 557px;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0em;
  color: #222222;
}

.sea__subscribe-text {
  width: 557px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: center;
  color: #222222;
}

.sea__subscribe-send {
  display: flex;
  margin: 32px 0 0 120px;
  height: 45px;
}

.sea__subscribe-send-text:hover,
.sea__subscribe-send-button:hover {
  border: 3px solid #222222;
}

.sea__subscribe-send-text {
  border-radius: 20px 0 0 20px;
  width: 200px;
  border: none;
  background-color: #E1E1E1;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
}

.sea__subscribe-send-button {
  border-radius: 0 20px 20px 0;
  background: #F16D7F;
  color: #FFFFFF;
  width: 100px;
  border: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
}

.all-rights {
  background-color: #222222;
  min-height: 80px;
}

.all-rights__list {
  display: flex;
  justify-content: space-between;
}

.all-rights__text {
  padding: 30px 0 30px 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  color: #FFFFFF;
}

.all-rights__icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 150px;
  padding: 23px 0 23px 0;
}

.all-rights__icons-item {
  width: 31px;
  height: 31px;
  background-color: #FFFFFF;
}

.all-rights__link {
  width: 31px;
  height: 31px;
  background-color: #FFFFFF;
}

.all-rights__image {
  width: 31px;
  height: 31px;
}

.all-rights__image--camera {
  width: 31px;
  height: 31px;
  background-color: #F16D7F;
}
/*# sourceMappingURL=style.css.map */