$black: #222222;
$light-pink: #F1E4E6;
$dark-pink: #F16D7F;
$sales-bkg-color: #716769;
$white: #FFFFFF;
$dark-grey: #5D5D5D;
$middle-grey: #E1E1E1;

$radius: 20px;

$desctop-width: 1599px;
$tablet-width: 767px;
$mobile-width: 375px;