
.sales__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.sales__item {
    padding: 105px 0 105px 0;
    box-sizing: border-box;
    width: 31.6%;
    min-height: 260px;
    background-color: $sales-bkg-color;

    @include tablet {
        width: 31.6%;
        min-height: 167px;
    }

    @include mobile {
        width: 100%;
        /*min-height: 247px;*/
    }
}

.sales__item--woman {
    background-image: url(../img/woman-dress.png.png);

    @include mobile {
        margin: 0 9px 32px 9px;
    }
}

.sales__item--man {
    background-image: url(../img/man-suit.png.png);

    @include mobile {
        margin: 0 9px 32px 9px;
    }
}

.sales__item--kids {
    background-image: url(../img/boy-glasses.png.png);

    @include mobile {
        margin: 0 9px 32px 9px;
    }
}

.sales__item--shoes {
    background-image: url(../img/shoes.png.png);
    width: 100%;
    min-height: 180px;
    margin: 30px 0 0 0;

    @include tablet {
        height: 116px;
    }

    @include mobile {
        min-height: 111px;
        margin: 0 9px 0 9px;
        background-repeat: no-repeat;
        padding: 30px 0 30px 0;
    }
}

.sales__link {
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
}

.sales__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    color: $white;
}

.sales__title {
    font-family: Lato;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
    color: $dark-pink;
}